<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [dummy astra mitra]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <include file="$(find hector_slam)/launch/tutorial.launch">
  
  </include>

</launch>
